<div>
  <h2>All Airplanes</h2>

  <p>Create a <%= link_to 'new airplane', new_airplane_path	 %></p>

  <ul>
  <% @airplanes.each do |airplane| %>
    <li>
      <%= link_to airplane.name, airplane_path(airplane.id) %>
    </li>

  <% end %>
  </ul>
</div>
